
.headertext{
  color: Orange;
}
.main{
  width:100%;
  padding:0;
  margin:auto;
}
.menu{
  width:100%;
  margin-bottom:0%;
  margin-top: 20px;
position: relative;
  text-align: center;

}
.impos{
  position: absolute;
  top:10%;
  left: 10%;
  color: darkblue;

}

  .header{
    background-color:#2B3856;
    text-align:center;
    padding:0px;
    color:black;
    width: 100%;
  }

  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;

  }

  li {
    float:right;
  }
  li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 30px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


.footer{
margin-top: 0%;
background-color:#2B3856;
height: 100px;
}


.full-paulina{
  width: 100%;
}
.half-p1{
  float: left;
  width: 49%;
}
.half-p2{
  float: right;
  width: 49%;
}